body {
    font-family: 'Pixelify Sans', cursive;
    text-align: center;
    background-color: rgb(243, 233, 220);
}

h1 {
    font-size: 110%;
}

h2 {
    font-size: 85%;
}

#system-choice {
    width: 120px;
    height: 120px;
    /* background-color: cyan; */
    margin-top: 10px;
}

#player-choice {
    width: 120px;
    height: 120px;
    /* background-color: yellow; */
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 45px;
    float: left;
}