/*general styling rule*/

*{
    padding:0px;
    margin:5px, 0px;
    box-sizing: border-box;
    background-color: bisque;
    color: black;
    text-align: center;
    font-family: 'Pixelify Sans', cursive;
}

 Header styles
header {
    padding-bottom:5px;
    font-size:15px;
    margin-top:0px;
    width:100%;
    justify-content: center;
    text-align: center;
    font-family: 'Pixelify Sans', cursive;
    }


main {
    
    width:100%;
    padding:10px;
    height:75%;
}

.footer {
    justify-content:baseline;
    list-style: none;
    column-count: 2;
    padding:2px;
    display:flex;
}